.terminal-box {
  background-color: #000;
}

/* Flat style for headerbar and nested-list. */
.nested-list {
  background: none;
  box-shadow:none;
}

/* Distinction for a selected */
.selected-card {
  background: @accent_bg_color;
}

/* Match outline of buttons */
.extended-outline {
  outline-offset: 2px;
}
